*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.second{
    min-height: 100vh;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    
    font-size: 10em;
    color: #eaeaea;
    text-shadow: 6px 6px 12px rgba(0,0,0,.08),
                -6px -6px 12px rgba(255,255,255,1);
}

.box1{
    position: absolute;
    top:50px;
    right:300px;
    width: 300px;
    height: 200px;
    background-color: #eaeaea;
    box-shadow: 6px 6px 12px rgba(0,0,0,.08),
    -6px -6px 12px rgba(255,255,255,1);
}
.box2{
    position: absolute;
    /* bottom:0px; */
    right:300px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #eaeaea;
    box-shadow: 6px 6px 12px rgba(0,0,0,.08),
    -6px -6px 12px rgba(255,255,255,1);
}

.box3{
    position: absolute;
    /* bottom:0px; */
    left:300px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #eaeaea;
    box-shadow: 6px 6px 12px rgba(0,0,0,.08),
    -6px -6px 12px rgba(255,255,255,1);
}
.box3:before{
    content: '';
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    border-radius: 50%;
    background-color: #eaeaea;
    box-shadow: inset 6px 6px 12px rgba(0,0,0,.08),
                inset -6px -6px 12px rgba(255,255,255,1);
}

.box4{
    position: absolute;
    /* bottom:0px; */
    top:50px;
    width: 250px;
    height: 250px;
    border-radius: 20%;
    background-color: #eaeaea;
    box-shadow: 6px 6px 12px rgba(0,0,0,.08),
    -6px -6px 12px rgba(255,255,255,1);
}
.box4:before{
    content: '';
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    border-radius: 20%;
    background-color: #eaeaea;
    box-shadow: inset 6px 6px 12px rgba(0,0,0,.08),
                inset -6px -6px 12px rgba(255,255,255,1);
}


.first{
    /* position: fixed; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #091921;
}

.clock{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:url(img/clock.png);
    background-size: cover;
    border: 4px solid #091921;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
    inset 0 -15px 15px rgba(255, 255, 255, 0.05),
    0 15px 15px rgba(0, 0, 0, 0.05),
    inset 0 15px 15px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
}
.clock:before{
content: '';
position: absolute;
width: 15px;
height: 15px;
background-color: #fff;
border-radius: 50%;
z-index: 10000;
}

.clock .hour,
.clock .min,
.clock .sec{
    position: absolute;
}

.clock .hour, .hr{
    width: 160px;
    height: 160px;
}
.clock .min, .mn{
    width: 190px;
    height: 190px;
}
.clock .sec, .sc{
    width: 230px;
    height: 230px;
}

.hr,.mn,.sc{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position:absolute;
    border-radius: 50%;
}

.hr:before{
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background: #ff105e;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}
.mn:before{
    content: '';
    position: absolute;
    width: 4px;
    height: 150px;
    background: #fff;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}
.sc:before{
    content: '';
    position: absolute;
    width: 2px;
    height: 150px;
    background: #fff;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}


/* third neuro  */
.third{
    background-color: #2196f3;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader{
    position: relative;
    display: flex;
}

.loader span{
    width: 50px;
    height: 300px;
    margin: 0 20px;
    background-color: #2196f3;
    animation: animate 1.4s linear  infinite  ;
}

.loader span:nth-child(1){
    animation-delay: 0s;
}
.loader span:nth-child(2){
    animation-delay: 0.2s;
}
.loader span:nth-child(3){
    animation-delay: 0.4s;
}
.loader span:nth-child(4){
    animation-delay: 0.6s;
}
.loader span:nth-child(5){
    animation-delay: 0.8s;
}
.loader span:nth-child(6){
    animation-delay: 1s;
}
.loader span:nth-child(7){
    animation-delay: 1.2s;
}

@keyframes animate {
    0%{
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
        opacity: 0;
        transform: translateX(-50px) scale(1);
    }
    50%{
        box-shadow:0 20px 50px rgba(0, 0, 0, 0.5);
        opacity: 1;
        transform: translateX(0px) scale(1.2);
    }
    100%{
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
        opacity: 0;
        transform: translateX(50px) scale(1);
    }
}


.fourth{
    background-color: #f1f1f1;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader2{
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border: 4px solid #f1f1f1 ;
    border-radius: 50%;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 1),
    10px 10px 10px rgba(0, 0, 0, .1),
    inset -10px -10px 15px rgba(255, 255, 255, 1),
    inset 10px 10px 10px rgba(0, 0, 0, .1);
}

.loader2 span{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#14ffe9,#ffeb3b,#ff105e);
    filter: blur(20px);
    animation: animate2 0.5s linear infinite;
}

.loader2::before{
    content: '';
    position: absolute;
    top:25px;
    left: 25px;
    bottom: 25px;
    right: 25px;
    background: #f1f1f1;
    z-index: 10;
    border-radius: 50%;
    border: 4px solid #f1f1f1;
    box-shadow:inset -10px -10px 15px rgba(255, 255, 255, 1),
                inset 10px 10px 10px rgba(0, 0, 0, .1);

}

@keyframes animate2 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


.fifth{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #18191f;
}

ul{
    position: relative;
    display: flex;
}

ul li{
    list-style-type: none;
}

ul li label{
    position: relative;
}

ul li label input[type="checkbox"]{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

ul li label .icon{
    position: relative;
    width: 60px;
    height: 60px;
    background-color: #18191f;
    color: #555;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: -1px -1px 4px rgba(255,255,255,0.05),
                4px 4px 6px rgba(0,0,0,0.2),
                inset -1px -1px 4px rgba(255,255,255,0.05),
                inset 1px 1px 1px rgba(0,0,0,0.2);
}

ul li label .icon::before{
    content: '';
    position: absolute;
    top:2px;
    left: 2px;
    width: calc(100% - 5px);
    height: calc(50% - 2px);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: rgba(255, 255, 255, 0.05);
}

ul li label input[type="checkbox"]:checked ~ .icon{
    box-shadow: inset 0px 0px 2px rgba(255,255,255,0.05),
                inset 4px 4px 6px rgba(0,0,0,0.2),
}

ul li label input[type="checkbox"]:checked ~ .icon .fa{

    color: #00f3ff;
    text-shadow: 0 0 15px #00f3ff,
                0 0 25px #00f3ff;
    animation: animate3 5s linear infinite;
}

@keyframes animate3 {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
